{% load static %}
<div style="">
  <img src="http://ct41328.tw1.ru/static/img/logo.png" alt="logo" style="margin: 0 auto" height="65" width="257">
  <p style="font-size: 20px;">Здравствуйте, <b>{{ booking.guest_name }}</b>!</p>
  <p>Вы забронировали номер <b>{{ booking.room.title }} на срок с {{ booking.check_in }} по {{ booking.check_out }}</b>
  </p>
  <p>Стоимость проживания в номере составит <b>{{ booking.price }} ₽</b></p>
  <p>Указанный телефон для связи: <b>{{ booking.guest_phone }}</b></p>
  <p>Адрес гостиничного комплекса: <b>Россия, Вологда, ул. Первомайская, дом 42</b></p>
  <p>Email-адрес руководства: <b>contact.hotel@pearl.com</b></p>
  <p>Режим работы: <b>Круглосуточно</b></p>
  <p style="font-size: 22px; font-weight: 700;">Ждём Вас!</p>
</div>
<hr>
<div>Данное сообщение было доставлено автоматически по адресу, который Вы указали. Если Вы хотите уточнить эти данные
  или отменить бронирование, пожалуйста, свяжитесь с администрацией гостиницы по телефонам:
  <ul>
    <li>8 (999) 999 99-99</li>
    <li>8 (888) 888 88-88</li>
    <li>8 (777) 777 77-77</li>
  </ul>
  Звонок бесплатный на территории Российской Федерации.
</div>
<small>Система автоматической отправки сообщений. Пожалуйста, не отвечайте на него.</small>
