<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="container p-5 h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<h2 class="text-center mb-5">Регистрация</h2>
					<button type="button" class="btn-close modal-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

					<form action="{% url 'accounts:register' %}">
						<div class="mb-4 form-floating">
							<input type="text" id="nameInput" class="form-control" placeholder="Ваше имя и фамилия" />
							<label for="nameInput" class="form-label">Ваше имя и фамилия</label>
						</div>

						<div class="mb-4 form-floating">
							<input type="email" id="emailInput" class="form-control" placeholder="Ваш Email-адрес" />
							<label for="emailInput" class="form-label">Ваш Email-адрес</label>
						</div>

						<div class="mb-4 form-floating">
							<input type="password" id="passwordInput" class="form-control" placeholder="Пароль" />
							<label for="passwordInput" class="form-label">Пароль</label>
						</div>

						<div class="mb-4 form-floating">
							<input type="password" id="RepeatPasswordInput" class="form-control" placeholder="Повторите пароль" />
							<label for="RepeatPasswordInput" class="form-label">Повторите пароль</label>
						</div>

						<div class="form-check mb-4">
							<input class="form-check-input" type="checkbox" value="" id="form2Example3cg" />
							<label class="form-check-label" for="form2Example3g">
								Я принимаю все правила <a href="#" style="color: var(--primary-color);">Политики персональных данных</a>
							</label>
						</div>

						<button type="submit" href="profile.html" class="d-block w-100 text-center mb-4 theme-btn">Зарегистрироваться<i class="fal fa-long-arrow-right"></i></button>
						<div class="text-center">
							<p class="text-muted mb-2">Уже есть аккаунт?</p>
							<a class="theme-border-btn" href="#" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Войти<i class="fal fa-long-arrow-right"></i></a>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>
